{% extends 'base.html' %}

{% block content %}

<h2>Můj košík</h2>

{% if products %}
    <ul>
        {% for item in products %}
        <li>
            <strong>{{ item.product.title }}</strong>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price per item: {{ item.product.price }} {{ item.product.unit }}</p>
            <p>Total: {{ item.total }}</p>
        </li>
        {% endfor %}
    </ul>
    <p><strong>Total Price:</strong> {{ total_price }}</p>

    <!-- Button to Place Order -->
    <form action="{% url 'place_order' %}" method="POST">
        {% csrf_token %}
        <label for="delivery_address">Delivery Address:</label>
        <input type="text" id="delivery_address" name="delivery_address" placeholder="Enter delivery address" required>

        <button type="submit" class="btn btn-secondary">Place Order</button>
    </form>

{% else %}
    <p>Your cart is empty!</p>
{% endif %}


{% endblock %}