{% extends 'base.html' %}

{% block content %}


<h2>Produkty v kategorii {{ category.name }}</h2>


<form method="GET" action="">
    <input type="text" name="q" placeholder="Vyhledat produkt">
    <input type="number" name="min_price" placeholder="Minimální cena">
    <input type="number" name="max_price" placeholder="Maximální cena">
    <button type="submit" class="btn btn-outline-dark">Hledat</button>
</form>

<table border="1" cellspacing="0" cellpadding="10" class="table table-striped-columns">
    <thead>
        <tr>
            <th>Název produktu</th>
            <th>Cena</th>
            <th>Detaily</th>
            {% if user.is_authenticated %}
            <th>Upravit potravinu</th>
            <th>Smazat potravinu</th>
            {% else %}
            {% endif %}
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for product in products_detail %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.price }} Kč</td>
                <td><a href="{% url 'potraviny_detail' product.pk %}">Zobrazit detaily</a></td>
                {% if user.is_authenticated %}
                <td><a href="{% url 'potraviny-update-view' product.pk %}">Update potravina</a></td>
                <td><a href="{% url 'potraviny-delete-view' product.pk %}">Delete potravina</a></td>
                {% else %}
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Žádné produkty v této kategorii.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if user.is_authenticated %}
<a class="btn btn-outline-dark" href="{% url 'potraviny-create-view' %}">Create potravina</a>
{% else %}
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if products_detail.has_previous %}
            <a href="?page=1">&laquo; První</a>
            <a href="?page={{ products_detail.previous_page_number }}">Předchozí</a>
        {% endif %}

        <span class="current">
            Stránka {{ products_detail.number }} z {{ products_detail.paginator.num_pages }}.
        </span>

        {% if products_detail.has_next %}
            <a href="?page={{ products_detail.next_page_number }}">Další</a>
            <a href="?page={{ products_detail.paginator.num_pages }}">Poslední &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}