{% extends 'base.html' %}

{% block content %}


<h2>Kategorie</h2>



<form method="GET" action="#">
    <input type="text" name="q" placeholder="Vyhledat kategorii">
    <button type="submit" class="btn btn-outline-success">Hledat</button>
</form>

<ul id="category-list" >
{% for parent_category in parent_categories %}
    <li><a href="{% url 'category-detail-view' parent_category.id %}"><strong>{{ parent_category.name }}</strong>  </a> </li>
        {% for child_category in parent_category.children.all %}
            <li class="child-category" style="text-indent: 20px;"><a href="{% url 'category-detail-view' child_category.id %}"> {{ child_category.name }} </a> </li>
        {% endfor %}
    
    {% endfor %}

</ul>

<script>
    $(function() {
        $('#category-list').sortable({
            items: 'li',  
            update: function(event, ui) {
                let categoryIds = $(this).sortable('toArray').map(id => id.split('-')[1]); // Extract IDs from the sorted list
    
                $.ajax({
                    url: '{% url "update_category_order" %}',  // Your URL to handle the POST request
                    type: 'POST',
                    data: {
                        'category_ids[]': categoryIds,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'  
                    },
                    success: function(response) {
                        if (response.success) {
                            alert('Kategorie byly úspěšně aktualizovány!');
                        }
                    },
                    error: function() {
                        alert('Při aktualizaci kategorií došlo k chybě.');
                    }
                });
            }
        });
    });
    </script>

{% endblock %}