{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">Stránka potraviny {{ potraviny_detail.title }}</h1>
<h3 style="text-align: center;">Popisek: {{ potraviny_detail.description }} </h3>
<img style="display: block; margin-left: auto; margin-right: auto;" src="{{ potraviny_detail.thumbnail.url }}" alt="{{potraviny_detail.title}}">

<h2 style="text-align: center;">Komentáře:</h2>

{% for comment in potraviny_comments %}

<p class="fw-bolder" style="text-align: center;">{{comment.text}}</p>


{% endfor %}

{% if user.is_authenticated %}

<a href="{% url 'create_comment' potraviny_detail.pk %}">Přidat komentář</a>

<form action="{% url 'add-to-cart' potraviny_detail.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
</form>
{% else %}
{% endif %}


{% endblock %}