{% extends 'base.html' %}

{% block content %}
<h1>Stránka potraviny {{ potraviny_detail.title }}</h1>
<h3>Popisek: {{ potraviny_detail.description }} </h3>
<img src="{{ potraviny_detail.thumbnail.url }}" alt="{{potraviny_detail.title}}">

<h2>Komentáře:</h2>

{% for comment in potraviny_comments %}

<p>{{comment.text}}</p>


{% endfor %}


<a href="{% url 'create_comment' potraviny_detail.pk %}">Přidat komentář</a>

<form action="{% url 'add-to-cart' potraviny_detail.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
</form>


{% endblock %}