{% extends 'base.html' %}

{% block content %}

<h1>Můj profil</h1>
<div>
    <p><strong>Uživatelské jméno:</strong> {{ user_profile.username }}</p>
    <p><strong>Město:</strong> {{ user_profile.city }}</p>
    <p><strong>Adresa:</strong> {{ user_profile.address }}</p>
    <p><strong>Email:</strong> {{ user_profile.email }}</p>
    {% if user_profile.avatar %}
        <img src="{{ user_profile.avatar.url }}" alt="Avatar" width="150">
    {% else %}
        <p>Žádný avatar</p>
    {% endif %}
</div>

<a href="{% url 'update-profile' %}">Update profile</a>
<li><a href="{% url 'order_history' %}">Order History</a></li>

{% endblock %}